<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0225e86616.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <script src="jquery-3.6.1.min.js"></script>
    <!-- <link rel="stylesheet" href="main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>
<body>

    <div class="projectName">APNE BAAP KA CONTROLLER</div>
    <div class="titleText">Control it all...</div>
    
    <div class="remoteController"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <script type="text/javascript">
        var controllerFormat = {{ controllerFormat | tojson | safe }};
        var controllerData = {{ controllerData | tojson | safe }};
        
        var container = document.querySelector('.remoteController');

        // Iterate over controllerFormat
        var innerCode = ``
        var dataSequence = ["always1", "home", "youTube", "googleChrome", "fMovies", "iBomma", "netflix", "primeVideos", "always2"]
        var buttonList = ["youTubeButton","googleChromeButton","fMoviesButton","iBommaButton","netflixButton","primeVideosButton", "homeButton"]
        for (var currentIndex in dataSequence) {
            currentKey = dataSequence[currentIndex];
            if (controllerFormat.hasOwnProperty(currentKey)) {
                var currentValue = controllerFormat[currentKey];
                innerCode += `<div class="${currentKey}">`;
                // Iterate over the items in the currentValue
                for (var i = 0; i < currentValue.length; i++) {
                    innerCode += `<div class="insideBox">`
                    for (var ii = 0; ii < currentValue[i].length; ii++) {
                        var item = currentValue[i][ii];
                        if (controllerData[item]) {
                            if (item.startsWith("search")){innerCode += `<div class="search"><input type="text" class="searchInput searchInput`+item+`" id="searchInput`+item+`" placeholder="Search...">`}
                            innerCode += `
                                <form method="post" id="${item}">
                                    <button type="submit">
                                        <i class="${controllerData[item]['icon']}"></i>
                                        <span>${controllerData[item]['text']}</span>
                                    </button>
                                </form>
                            `;
                            if (item.startsWith("search")){
                                innerCode += `</div>`
                                var searchButton = function (itemName) {return function (e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: itemName, searchData: $("#searchInput" + itemName).val()}});};};
                                $(document).on('submit', '#' + item, searchButton(item));
                            } else if (buttonList.includes(item)){
                                var buttonFunction = function (itemName) {return function (e) {
                                    e.preventDefault();
                                    for (var buttonIndex in buttonList) {$("." + buttonList[buttonIndex].slice(0,-6)).css("display", "none");}
                                    $("."+itemName.slice(0,-6)).css("display", "flex");
                                };};
                                $(document).on('submit', '#' + item, buttonFunction(item));
                            } else if (item.startsWith("goBack")){
                                var backFunction = function (itemName) {return function (e) {
                                    e.preventDefault();
                                    for (var buttonIndex in buttonList) {$("." + buttonList[buttonIndex].slice(0,-6)).css("display", "none");}
                                    $(".home").css("display", "flex");
                                };};
                                $(document).on('submit', '#' + item, backFunction(item));
                            }
                            else{
                                var normalButton = function (itemName) {return function (e) {e.preventDefault();$.ajax({type: 'POST',url: '/',data: {functionName: itemName}});};};
                                $(document).on('submit', '#' + item, normalButton(item));
                            }
                        }
                    }
                    innerCode += `</div>`
                }

                innerCode += `</div>`;
            }
        }
        container.innerHTML += innerCode;
    </script>

</body>
</html>